<div class= 'home-container d-flex'>
  <%# bloc menu sur la gauche %>
  <div class= 'menu'>
    <%= image_tag('avatar.jpg', size: 150 ) %>
    <div>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "My Watchlists", lists_path %>
          </li>
          <li>
            <%= link_to "Discover", '#' %>
          </li>
          <li>
            <%= link_to "Settings", '#' %>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Home", root_path, class: "" %>
          </li>
          <li>
            <%= link_to "Login", new_user_session_path, class: "" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# boutons movies et series %>
  <div class= 'search-bar'>
    <div class = 'd-flex justify-content-between align-items-center'>
      <div class = 'type-btn'>
        <button>Movies</button>
        <button>Series</button>
      </div>
    </div>
  </div>

  <%# list de listes %>
  <% @lists.each do |list| %>
  <%= list.name %>
  <% end %>
</div>
