<div class= 'home-container d-flex'>
  <div class= 'menu'>
    <%= image_tag('avatar.jpg', size: 150 ) %>
    <div>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Home", root_path, class: "" %>
          </li>
          <li>
            <%= link_to "My Watchlists", '#', class: "" %>
          </li>
          <li>
            <%= link_to "Discover", '#', class: "" %>
          </li>
          <li>
            <%= link_to "Settings", '#', class: "" %>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Home", root_path, class: "" %>
          </li>
          <li>
            <%= link_to "Login", new_user_session_path, class: "" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class= 'search-bar'>
    <div class = 'd-flex justify-content-between'>
      <div class = 'type-btn'>
        <button>Movies</button>
        <button>Series</button>
      </div>
      <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search...">
      </div>
    </div>
  </div>

</div>
